.container {
  display: inline-block;
}

.text {
  cursor: pointer;
  padding: 4px;
  border-bottom: 1px dashed #ccc;

  &:hover {
    background: #f5f5f5;
  }
}

.input {
  border: 1px solid #007bff;
  padding: 4px;
  border-radius: 4px;
}