services:
  db:
    image: postgres:17.0-alpine
    container_name: postgres_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - ./.env
    ports:
      - "5432:5432"
    restart: always

  backend:
    build: ../backend/
    image: friendly_backend:latest
    container_name: backend
    env_file:
      - ./.env
    ports:
      - "8000:8000"
    depends_on:
      - db
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000

volumes:
  postgres_data:
    name: postgres_data