// variables.scss

// Colors
$primary-color: #007bff;
$secondary-color: #6c757d;
$text-color: #FFFFFF;
$text-secondary-color: #787878;
$background-color: #1C1C1C;

// Fonts
$main-font: "Arial", sans-serif;

// Breakpoints
$breakpoint-mobile: 767px;
$breakpoint-tablet: 991px;
