@import "_reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

body {
  margin: 0;
  background-color: rgb(28, 28, 28);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "SF Pro", sans-serif;
  font-weight: 400;
  font-size: 15px;
}
