.button {
  width: 100%;
  padding: 16px 0;
  border: none;
  border-radius: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: white;
  background: linear-gradient(91.15deg, rgba(43, 223, 255, 1) 0%, rgba(233, 38, 237, 1) 50%, rgba(255, 167, 25, 1) 100%);
  cursor: pointer;
  transition: filter 0.2s;
  font-family: 'Inter', sans-serif;
  text-align: center;

   box-shadow: 
    inset 2px 2px 15px 0 rgba(255, 255, 255, 0.52),
    0 -2px 10px 0 rgba(0, 0, 0, 0.2); /* Доп. внешняя тень для глубины */

  &:hover {
    filter: brightness(1.05);
  }

  &:active {
    filter: brightness(0.95);
  }
}