@use 'shared/styles' as *;
@use './fonts' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app-layout {
  min-height: 100vh;
  background: var(--bg-primary);
  color: var(--text-primary);
}