.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 30px 20px;
  background-color: rgb(28, 28, 28);
  color: white;
  font-family: 'Inter', sans-serif;
}

/* Первый скелетон (200x60) */
.skeletonTop {
  width: 200px;
  height: 60px;
  background-color: rgb(44, 44, 44);
  border-radius: 30px;
  margin: 0 auto;
  margin-bottom: 30px; // Отступ до второго скелетона
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      90deg,
      rgba(44, 44, 44, 0) 0%,
      rgba(44, 44, 44, 0.5) 50%,
      rgba(44, 44, 44, 0) 100%
    );
    animation: shimmer 1.5s infinite;
  }
}

/* Второй скелетон (342x472) */
.skeletonLarge {
  width: 342px;
  height: 472px;
  background-color: rgb(33, 33, 33);
  border-radius: 20px;
  margin: 0 auto;
  margin-bottom: 30px; // Отступ до основного контента
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      90deg,
      rgba(33, 33, 33, 0) 0%,
      rgba(33, 33, 33, 0.5) 50%,
      rgba(33, 33, 33, 0) 100%
    );
    animation: shimmer 1.5s infinite;
  }
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 40px;
}

/* Анимация */
@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.contant{
      margin: 0 4.2px 14px 4.2px; 
      height: 110px;
}
.text {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2147;
  color: rgba(255, 255, 255, 0.9);
  text-align: left; // Выравнивание текста по центру
}

.agreement {
  font-size: 12px;
  line-height: 15px;
  color: rgba(120, 120, 120, 1);
  text-align: left;
  font-weight: 500;
}

.footer {
  height: 74px;
  margin-top: 20px;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(28, 28, 28); // Чтобы перекрывать контент
  box-sizing: border-box;
}

.privacyLink {
  color: #007AFF; // Синий цвет, как в iOS
  text-decoration: none;
  cursor: pointer;
  
  &:hover {
    text-decoration: underline;
  }
}